<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head ('Category details')"></div>

<body>
<div th:replace="~{fragments/navbar :: navbar-cms}"></div>
<div id="movies">
    <h2 th:text="${category.name}">Category</h2>
    <p align="justify" th:text="${category.description}">Description</p>
    <div class="row">
        <div class="col-md-12">
            <h2 th:text="'Movies ' + '(' + ${#lists.size(category.movies)} + ')'">Movies</h2>
            <div th:unless="${#lists.isEmpty(category.movies)}">
                <table class="table table-hover table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Plot</th>
                        <th>Year</th>
                        <th>Categories</th>
                        <th>Poster</th>
                        <th>Trailer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="movie : ${paging.content}">
                        <td th:text="${movie.name}"></td>
                        <td align="justify" th:text="${movie.description}"></td>
                        <td th:text="${movie.year}"></td>
                        <td>
                            <span th:each="category : ${movie.categories}"
                                  th:text="${category.name } + ' '">
                            </span>
                        </td>
                        <td>
                            <a th:if="${!#strings.isEmpty(movie.pictureURL)}"
                               th:href="${movie.pictureURL}" class="btn btn-primary">
                                <i class="far fa-image ml-2"></i>
                            </a>
                        </td>
                        <td>
                            <a th:if="${!#strings.isEmpty(movie.trailerURL)}"
                               th:href="${movie.trailerURL}" class="btn btn-primary">
                                <i class="far fa-play-circle ml-2"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="paging-centered">
                    <ul class="pagination" th:if="${paging.totalPages gt 1}"
                        th:each="i : ${#numbers.sequence(1, paging.totalPages)}">
                        <li th:if="${i == 1 && paging.number gt 0}">
                            <a th:href="@{/categories/{categoryId}(categoryId=${category.id}, size=${paging.size}, page=${paging.number})}"
                               aria-label="Previous" title="Previous Page" data-toggle="tooltip">&laquo;</a>
                        </li>
                        <li th:class="${i == paging.number + 1} ? 'active'">
                            <a th:href="@{/categories/{categoryId}(categoryId=${category.id}, size=${paging.size}, page=${i})}"
                               th:text=${i}>
                            </a>
                        </li>
                        <li th:if="${i == paging.totalPages && paging.number lt paging.totalPages - 1}">
                            <a th:href="@{/categories/{categoryId}(categoryId=${category.id}, size=${paging.size}, page=${paging.number + 2})}"
                               aria-label="Next" title="Next Page" data-toggle="tooltip">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>