<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/head :: head ('Category')"></div>
<body>
<div th:replace="~{fragments/navbar :: navbar-user}"></div>
<div id="movies">
    <h2 class="category-name" th:text="${category.name}">Category</h2>
    <p class="category-description" th:text="${category.description}">Description</p>
    <div class="movie" th:each="movie, iter : ${category.movies}">
        <a th:href="@{/webpage/movie/{id}(id = ${movie.id})}">
            <img class="poster" th:src="${movie.pictureURL}">
            <label class="title" th:text="${movie.name}">Title</label>
        </a>
    </div>
</div>
</body>
</html>