<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/head :: head ('Categories')"></div>
<body>
<div th:replace="~{fragments/navbar :: navbar-user}"></div>
<div id="movies">
    <div th:each="category : ${categories}">
        <div class="category" th:unless="${#lists.isEmpty(category.movies)}">
            <a th:href="@{/webpage/categories/{categoryId}(categoryId=${category.id})}">
                <h2 class="category-name" th:text="${category.name}">Category</h2>
            </a>
            <div class="movie" th:each="movie, iter : ${category.movies}"
                 th:if="${iter.index} < 5">
                <a th:href="@{/webpage/movie/{id}(id = ${movie.id})}">
                    <img class="poster" th:src="${movie.pictureURL}"/>
                    <label class="title" th:text="${movie.name}">Title</label>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>