<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/head :: head ('Home')"></div>
<body>
<div th:replace="~{fragments/navbar :: navbar-user}"></div>
<div id="movies">
    <div class="container">
        <div class="movie" th:each="movie : ${paging.content}">
            <a th:href="@{/movie/{id}(id = ${movie.id})}">
                <img class="poster" th:src="${movie.pictureURL}"/>
                <label class="title" th:text="${movie.name}">Title</label>
            </a>
        </div>
    </div>
    <div class="paging-centered">
        <ul class="pagination" th:each="i : ${#numbers.sequence(1, paging.totalPages)}"
            th:if="${paging.totalPages gt 1}">
            <li th:if="${i == 1 && paging.number gt 0}">
                <a aria-label="Previous"
                   data-toggle="tooltip" th:href="@{/ (size=${paging.size}, page=${paging.number})}"
                   title="Previous Page">&laquo;</a>
            </li>
            <li th:class="${i == paging.number + 1} ? 'active'">
                <a th:href="@{/ (size=${paging.size}, page=${i})}"
                   th:text=${i}>
                </a>
            </li>
            <li th:if="${i == paging.totalPages && paging.number lt paging.totalPages - 1}">
                <a aria-label="Next"
                   data-toggle="tooltip" th:href="@{/ (size=${paging.size}, page=${paging.number + 2})}"
                   title="Next Page">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>