<html xmlns:th="http://www.w3.org/1999/xhtml">

<th:block th:fragment="input-validated (type, label, name)">
    <div class="form-group col-md-12">
        <label class="col-form-label" th:text="${label}">Label</label>
        <div th:switch="${type}">
            <input th:case="'text'" class="form-control" type="text" th:field="*{__${name}__}"
                   th:placeholder="${label}">
            <input th:case="'number'" class="form-control" type="number" th:field="*{__${name}__}" placeholder="YYYY">
            <input th:case="'url'" class="form-control" type="url" th:field="*{__${name}__}" th:placeholder="${label}">
        </div>
        <div class="validation-error" if="${!valid}"
             th:errors="*{__${name}__}">Error
        </div>
    </div>
</th:block>

<div th:fragment="textarea-validated (label, name)">
    <div class="form-group col-md-12">
        <label class="col-form-label" th:text="${label}">Label</label>
        <textarea type="text" th:field="*{__${name}__}" class="form-control"
                  th:placeholder="${label}"></textarea>
        <div class="validation-error" if="${!valid}"
             th:errors="*{__${name}__}">Error
        </div>
    </div>
</div>

<div th:fragment="omdb-search-form">
    <div id="movies">
        <div class="form-centered">
            <form th:action="@{/admin/omdb/search}" th:method="get">
                <h3 class="form-group">Find movie by title:</h3>
                <div class="form-group">
                    <input class="form-control" name="title"
                           placeholder="Movie Title" required type="text">
                </div>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</div>
</html>

