<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="movie-table(movies)">
    <table class="table table-hover table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Plot</th>
            <th>Year</th>
            <th>Categories</th>
            <th>Trailer</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td>
                <a target="_blank"
                   th:href="${movie.pictureURL}" th:if="${!#strings.isEmpty(movie.pictureURL)}">
                    <img th:src="${movie.pictureURL}" width="100px"/>
                </a>
            </td>
            <td th:text="${movie.name}"></td>
            <td align="justify" th:text="${movie.description}"></td>
            <td th:text="${movie.year}"></td>
            <td>
                <span th:each="category : ${movie.categories}">
                    <a th:href="@{/admin/categories/{categoryId}(categoryId=${category.id})}"
                       th:text="${category.name } + ' '">Category
                    </a>
                </span>
            </td>

            <td>
                <div target="_blank"
                     th:if="${!#strings.isEmpty(movie.trailerURL)}">
                    <a th:href="${movie.trailerURL}" class="btn btn-primary">
                        <i class="far fa-play-circle ml-2"></i>
                    </a>
                </div>
            </td>
            <td>
                <a class="btn btn-primary" th:href="@{/admin/movies/update/{movieId}(movieId=${movie.id})}">
                    <i class="fas fa-pencil-alt ml-2"></i>
                </a>
            </td>
            <td><a class="btn btn-primary" th:href="@{/admin/movies/delete/{movieId}(movieId=${movie.id})}">
                <i class="fas fa-trash-alt ml-2"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>
</html>