<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar-cms">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!--        <div class="navbar-header">-->
            <!--            <a class="navbar-brand" href="#">WebSiteName</a>-->
            <!--        </div>-->

            <ul class="nav navbar-nav">
                <li><a th:href="@{/categories}">CATEGORIES</a></li>
                <li><a th:href="@{/categories/new}">ADD NEW CATEGORY</a></li>
                <li><a th:href="@{/movies}">MOVIES</a></li>
                <li><a th:href="@{/omdb/find}">SEARCH MOVIE IN DATABASE</a></li>
            </ul>
            <form class="navbar-form navbar-right" th:action="@{/search/search-results}">
                <div class="form-group">
                    <input required type="text" class="form-control" placeholder="Search" name="search">
                </div>
                <button class="btn btn-default" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<div th:fragment="navbar-user">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/webpage}">HOME</a></li>
                <li><a th:href="@{/webpage/categories}">CATEGORIES</a></li>
                <li><a th:href="@{/webpage/guide}">CATEGORIES GUIDE</a></li>
            </ul>
            <form class="navbar-form navbar-right" th:action="@{/webpage/search/user-search-results}">
                <div class="form-group">
                    <input required class="form-control" name="search" placeholder="Search" type="text">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
                <a class="btn btn-default" role="button" style="padding: 4px 8px" th:href="@{/webpage/advanced}">
                    <svg class="_1RH35kP_b6ZFKBVhFIlbE1 _2FH670uFhYVKlvRlWSz43X" xmlns="http://www.w3.org/2000/svg"
                         width="16" height="17" viewBox="0 0 16 16">
                        <path fill="#000" fill-rule="evenodd" d="M5.995 10.3A2.7 2.7 0 0 1 8.504
                        12H17v2H8.504a2.7 2.7 0 0 1-5.018 0H1v-2h2.486a2.7 2.7 0 0 1 2.509-1.7zm0 1.7a1 1 0 1 0 0 2 1 1
                        0 0 0 0-2zm5.997-8.7A2.7 2.7 0 0 1 14.5 5H17v2h-2.5a2.7 2.7 0 0 1-5.017 0H1V5h8.483a2.7 2.7 0 0
                         1 2.509-1.7zm0 1.7a1 1 0 1 0 0 2 1 1 0 0 0 0-2z">
                        </path>
                    </svg>
                </a>
            </form>
        </div>
    </nav>
</div>
</html>



