/* navbar parts and fixed container width for all views */

.logo {
font-size: 30px;
}

.navbar, .container {
    min-width: 1080px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #333;
    background-color: #e6e6e6;
    text-decoration:none;
}

/* buttons */

.btn-primary {
    color: #fff;
    background-color: #23527c;
    border-color: #23527c;
}

.btn-primary:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-add {
    float: right;
    margin: 0 15px 0 0;
}

.btn-omdb-search {
    border-radius: 0 4px 4px 0;
    float: right;
    padding: 6px 13px;
}

.search-bar {
    display: inline-block;
    width: 92%;
    border-radius: 4px 0 0 4px;
}

.btn-omdb {
    float: right;
    margin: 3px;
}

/* forms */
.form-centered {
    width: 50%;
    margin: auto;
    min-width: 540px;
}

/* style for movies, categories tables */

.heading {
    margin-bottom: 30px;
}

/* validation error style */

.validation-error {
    color: steelblue;
    text-align: center;
}

/* style for user views */

a {
    color: #23527c;
}

a:active, a:hover {
    color: #337ab7;
    text-decoration: none;
}

#movies {
    width: 1080px;
    margin: 35px auto;
}

.category-name {
    margin: 25px 30px 0px 25px;
    font-size: 30px;
}

.category-description {
    text-align: justify;
    margin: 15px 30px 10px 20px;;
}

.movie {
    display: inline-block;
    width: 190px;
    min-height: 345px;
    margin: 10px;
    vertical-align: top;
    text-align: center;
}

.movie img.poster, img.error-poster {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 2px;
    width: 190px;
    height: 283px;
    background-color: white;
}

.movie img.poster:hover {
    box-shadow: 0 0 2px 1px #66afe9;
}

.movie a .title {
    padding-top: 5px;
    font-weight: bold;
}

/* table */

.table-poster {
    width: 100px;
}

input[type="checkbox"] {
    margin: 4px 0 0 8px;
}

/* movie-view */
#movie-view {
    width: 850px;
    margin: 40px auto;
}

.movie-view-poster {
    width: 300px;
    float: left;
    margin: 25px auto;
}

.movie-view-poster img {
    width: 300px;
}

.movie-view-info {
    margin: 10px;
    width: 500px;
    float: right;
    text-align: justify;
}

.movie-view-plot {
    margin-top: 20px;
}

/* error page */
#error {
    width: 1080px;
    margin: 65px auto;
}

.error-title {
    margin: 10px;
}

a.error-logo {
    font-size: 30px;
    color: #777;
    text-decoration:none;
}

a:hover.error-logo {
    color: #333;
    text-decoration:none;
}

/* random styles where needed */

.content-centered {
    text-align: center;
}

.container1 {
    width: auto;
    display: flex;
    justify-content: center;
}

.form-horizontal col-md-7 {
    width: 60%;
}

/* user-view with trailer */

#movie-user-view {
    width: 810px;
    margin: 40px auto;
}

.movie-user-poster {
    display: inline-block;
    width: 235px;
    margin: 10px 0 0 0;
    vertical-align: top;
}

.movie-user-trailer {
    display: inline-block;
    width: 560px;
    margin: 8px 0 0 0;
    color: transparent;
}

.movie-user-description {
    max-width: 810px;
    margin: 8px auto;
    text-align: justify;
}







