<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head ('Movies list')"></div>

<body>
<div th:replace="~{fragments/navbar :: navbar-cms}"></div>

<div id="movies">
    <h2 class="heading" th:text="'Movies ' + '(' + ${#lists.size(movies)} + ')'">Movies</h2>
    <a class="btn btn-primary btn-add" href="/movies/new">
        <i class="fas fa-plus ml-2"></i>
    </a>
    <div th:insert="fragments/movie-table :: movie-table(${movies})"></div>
</div>
</body>
</html>