<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head ('Error')"></div>
<body>
<div class="content-centered" id="error">
    <div class="movie">
        <img class="error-poster"
             src="https://m.media-amazon.com/images/M/MV5BMDZjZmM3ZGEtOTllOS00MWVkLWIxYmEtZTBkZDU5MjVjYjc1XkEyXkFqcGdeQXVyNDMxNDU4NjM@._V1_SY1000_CR0,0,674,1000_AL_.jpg">
        <label class="error-title" text="SOMETHING">Something</label>
    </div>
    <div class="movie">
        <img class="error-poster" src="/images/went.jpg">
        <label class="error-title" text="WENT">went</label>
    </div>
    <div class="movie">
        <img class="error-poster"
             src="https://m.media-amazon.com/images/M/MV5BNjQ2ODY2Njk4Ml5BMl5BanBnXkFtZTgwNzU4MjU4MDE@._V1_SY1000_SX675_AL_.jpg">
        <label class="error-title" text="WRONG">wrong.</label>
    </div>
    <h3>There is an error.</h3>
    <h4 th:text="${message}">Exception message</h4>
    <h1><a class="error-logo" th:href="@{/}">🅜🅞🅥🅘🅔🅢</a></h1>
</div>
</body>
</html>