<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head ('OMDb Found Movies')"></div>

<body>
<div th:replace="~{fragments/navbar :: navbar-cms}"></div>
<div th:replace="~{fragments/input-form :: omdb-search-form}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 align="center" th:if="${#lists.isEmpty(movies)}">no movies found</h3>
            <div th:if="${!#lists.isEmpty(movies)}">
                <h3 class="my-5">Movies found:</h3>
                <table class="table table-hover table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Plot</th>
                        <th>Year</th>
                        <th>Categories</th>
                        <th>Picture</th>
                        <th>Add</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="movie : ${movies}">
                        <td th:text="${movie.name}"></td>
                        <td align="justify" th:text="${movie.description}"></td>
                        <td th:text="${movie.year}"></td>
                        <td th:text="${movie.categories}">
                            <!--                            <span th:each="category : ${movie.categories}"-->
                            <!--                                  th:text="${category.name } + ' '">Category-->
                            <!--                            </span>-->
                        </td>
                        <td>
                            <a class="btn btn-primary"
                               th:href="${movie.pictureURL}" th:if="${!#strings.isEmpty(movie.pictureURL)}">
                                <i class="far fa-image ml-2"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-primary" th:href="@{/omdb/save/{id}(id=${movie.id})}" type="submit">
                                <i class="fas fa-plus ml-2"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>