<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head ('OMDb Found Movies')"></div>

<body>
<div th:replace="~{fragments/navbar :: navbar-cms}"></div>
<div th:replace="~{fragments/input-form :: omdb-search-form}"></div>
<div id="movies">
    <h3 class="content-centered" th:if="${#lists.isEmpty(movies)}">no movies found</h3>
    <div th:if="${!#lists.isEmpty(movies)}">
        <form method="post" th:action="@{/admin/omdb/save}">
            <button class="btn btn-primary btn-omdb" type="submit">Add</button>
            <button class="btn btn-primary btn-omdb" type="reset">Reset</button>
            <h3 class="heading">Movies found:</h3>
            <table class="table table-hover table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Poster</th>
                    <th>Title</th>
                    <th>Plot</th>
                    <th>Year</th>
                    <th>Categories</th>
                    <th>Add</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${movies}">
                    <td>
                        <a target="_blank"
                           th:href="${movie.poster}" th:if="${!#strings.isEmpty(movie.poster)}">
                            <img class="table-poster" th:src="${movie.poster}"/>
                        </a>
                    </td>
                    <td th:text="${movie.title}"></td>
                    <td align="justify" th:text="${movie.plot}"></td>
                    <td th:text="${movie.year}"></td>
                    <td th:text="${movie.genre}"></td>
                    <td>
                        <div th:if="${movie.exists}">
                            <input checked class="checkbox" disabled type="checkbox"/>
                        </div>
                        <div th:unless="${movie.exists}">
                            <input class="checkbox" id="1" name="movies" th:value="${movie.base64Movie}"
                                   type="checkbox"/>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>